main {
    min-width: 35vw;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 1rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
}