<main>

  <ng-container *ngIf="taskFromTheBoard.assignee && taskFromTheBoard.creator; else loading">

    <h2 mat-dialog-title>"{{ data.title }}" details.</h2>

    <mat-dialog-content class="mat-typography">

      <p><b>Id:</b> {{ taskFromTheBoard.id }}.</p>
      <p><b>Title:</b> {{ taskFromTheBoard.title }}.</p>
      <p><b>Description:</b> {{ taskFromTheBoard.description }}.</p>
      <p><b>Priority:</b> {{ taskFromTheBoard.priority }}.</p>
      <p><b>State:</b> {{ taskFromTheBoard.state }}.</p>
      <p><b>Creation date:</b> {{ taskFromTheBoard.creation_date }}.</p>
      <p><b>Completion date:</b> {{ taskFromTheBoard.completion_date }}.</p>
      <p><b>Assignee:</b> {{ taskFromTheBoard.assignee }}.</p>
      <p><b>Creator:</b> {{ taskFromTheBoard.creator }}.</p>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button mat-button mat-dialog-close>Close</button>

    </mat-dialog-actions>

  </ng-container>

  <ng-template #loading>

    <div class="spinner-container">

      <mat-spinner></mat-spinner>

    </div>

  </ng-template>

</main>