h1 {
    font-weight: bold;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mb-30 {
    margin-bottom: 30px;
}

.spinner-container {
    display: flex;
    justify-content: center;
}