<main>

    <div class="section-header">

        <div>
            <h1>Contacts</h1>
            <h2>Better with a team.</h2>
        </div>
        
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
        </button>

    </div>

    <mat-card>
        <mat-card-title>Actions Buttons</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
        <mat-card-actions align="end">
            <button mat-button>Like</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

</main>