.summary-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.summary-headline {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: bold;
        font-size: 3rem;
        margin-right: 1rem;
    }

    p {
        text-align: center;
        border-left: medium solid #29abe2;
        padding-left: 1rem;
        font-size: 1.5rem;
    }
}

.summary-main-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 172px);

    .summary-left-container {
        width: 50%;

        .summary-container1 {
            padding: 0px 0px 35px 0px;
            display: flex;
            justify-content: space-between;

            mat-card {
                max-height: 150px;
                width: calc(100% / 3);

                .board-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        text-align: center;
                        font-size: 21px;
                        color: #2a3647;
                    }
                }
            }
        }

        .summary-container2 {
            padding: 0px 0px 35px 0px;
            display: flex;
            justify-content: center;

            mat-card {
                width: 100%;
                display: flex;
                justify-content: center;

                .middle-card-left {
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;

                    #circle-red {
                        width: 69px;
                        height: 69px;
                        background: #ff3d00;
                        border-radius: 70px;
                        margin-right: 1rem;
                        -webkit-border-radius: 70px;

                        img {
                            padding: 14px;
                            width: 40px;
                            height: 40px;
                            transform: rotate(180deg);
                        }
                    }

                    .subcontainer-left {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h1 {
                            margin-bottom: .5rem;
                        }

                        p {
                            text-align: center;
                            font-size: .75rem;
                            color: #2a3647;
                            margin-bottom: 0;
                        }
                    }
                }

                .board-date {
                    border-left: medium solid #d1d1d1;
                    padding-inline: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .summary-container3 {
            display: flex;
            justify-content: space-between;

            mat-card {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                #circle {
                    width: 69px;
                    height: 69px;
                    background: #2a3647;
                    border-radius: 70px;
                    margin-right: 1rem;
                    -webkit-border-radius: 70px;

                    img {
                        padding: 14px;
                        width: 40px;
                        height: 40px;
                    }
                }

                .subcontainer-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h1 {
                        margin-bottom: .5rem;
                    }

                    p {
                        text-align: center;
                        font-size: 1.5rem;
                        color: #2a3647;
                        margin-bottom: 0;
                    }
                }
            }
        }

    }

    .welcome-name {
        text-align: center;
        width: 50%;

        h1 {
            font-size: 47px;
            line-height: normal;
        }
    }
}

mat-card {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 25px 0px;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}

.mr-1 {
    margin-right: 1rem;
}

@media (max-width: 1000px) {

    .welcome-name {
        display: none !important;
    }
}

@media (max-width: 750px) {

    .card-size {
        max-height: 110px;
        width: 110px;
    }

    .card-size-middle {
        max-height: 110px;
        width: 110px;
    }

    h1 {
        font-size: 47px !important;
    }

    p {
        font-size: 14px !important;
    }

    #circle {
        width: 50px;
        height: 50px;

        img {
            padding: 10px;
            width: 30px;
            height: 30px;
        }
    }

    #circle-red {
        width: 50px;
        height: 50px;

        img {
            padding: 10px;
            width: 30px;
            height: 30px;
        }
    }

    .summary-content {
        position: fixed !important;
        left: 4px !important;
        padding: 2px;
    }
}