.summary-content {
    position: relative;
    left: 7.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.summary-headline {
    margin-top: 3.688rem;
    margin-bottom: 5.438rem;
    display: flex;
    justify-content: center;

    h1 {
        font-size: 3.813rem;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        margin-right: 1.875rem;
    }

    p {
        font-size: 1.688rem;
        min-width: 170px;
        text-align: center;
        border-left: medium solid #29abe2;
        line-height: 0.8;
        padding: 0.625rem;
    }
}

.summary-main-container {
    position: relative;
    display: flex;
    justify-content: space-around;

    .summary-container1 {
        padding: 0px 0px 35px 0px;
        display: flex;

        .board-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        p {
            text-align: center;
            font-size: 21px;
            color: #2A3647;
        }
    }

    .summary-container2 {
        padding: 0px 0px 35px 0px;
        display: flex;
        justify-content: center;

        .board-date {
            border-left: medium solid #D1D1D1;
            padding: 10px;
            padding-left: 50px;
        }

        mat-card {
            min-width: 100%;
        }

        .middle-card {
            display: flex;
            justify-content: center;
        }
    }

    .summary-container3 {
        display: flex;
        justify-content: space-between;
    }

    .welcome-name {
        margin-left: 20px;
        display: flex;
        align-items: center;

        h1 {
            font-size: 47px;
            line-height: normal;
        }
    }
}

mat-card {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 25px 0px;
    gap: 13px;

    h1 {
        text-align: center;
        font-size: 64px;
        font-style: normal;
    }
}

.card-size {
    max-height: 150px;
    width: 170px;
}

.card-size-middle {
    max-height: 150px;
    width: 170px;
    margin-left: 35px;
    margin-right: 35px;
}

#circle {
    width: 69px;
    height: 69px;
    background: #2a3647;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;

    img {
        padding: 14px;
        width: 40px;
        height: 40px;
    }
}

#circle-red {
    width: 69px;
    height: 69px;
    background: #FF3D00;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;

    img {
        padding: 15px;
        width: 40px;
        height: 40px;
        transform: rotate(180deg);
    }
}

.todo-card {
    width: 47%;
    display: flex;
    justify-content: center;

    p {
        text-align: center;
        font-size: 21px;
        color: #2A3647;
    }
}

.middle-card-left {
    position: relative;
    padding-right: 30px;
    top: 20px;
    display: flex;
}