<div class="summary-content">

    <div class="summary-headline">
        <h1 class="font-size-big">Summary</h1>
        <p>Everything in a nutshell!</p>
    </div>

    <div class="summary-main-container">

        <div class="summary-left-container">

            <div class="summary-container1">

                <mat-card class="mr-1">

                    <div class="board-info">
                        <h1>{{ tasks.length ? tasks.length : 0}}</h1>
                        <p>Tasks in<br>Board</p>
                    </div>

                </mat-card>

                <mat-card class="mr-1">

                    <div class="board-info">
                        <h1>{{ inProgress.length ? inProgress.length : 0}}</h1>
                        <p>Tasks in<br>Progress</p>
                    </div>

                </mat-card>

                <mat-card>

                    <div class="board-info">
                        <h1>{{ testing.length ? testing.length : 0 }}</h1>
                        <p>Awaiting<br>Feedback</p>
                    </div>

                </mat-card>

            </div>

            <div class="summary-container2">

                <mat-card class="middle-card">

                    <div class="middle-card-left">

                        <div id="circle-red">
                            <img src="assets\img\up-arrow-white.png">
                        </div>

                        <div class="subcontainer-left">
                            <h1>{{ tasksWithHighPriority.length ? tasksWithHighPriority.length : 0 }}</h1>
                            <p>Tasks with high priority</p>
                        </div>

                    </div>

                    <div class="board-date">
                        <p>Oktober 16, 2022</p>
                        <p>Upcomming Deadline</p>
                    </div>

                </mat-card>

            </div>

            <div class="summary-container3">

                <mat-card class="todo-card mr-1">

                    <div id="circle">
                        <img src="assets\img\pencil-48.png">
                    </div>

                    <div class="subcontainer-right">
                        <h1>{{ toDo.length ? toDo.length : 0}}</h1>
                        <p>To do</p>
                    </div>

                </mat-card>

                <mat-card class="todo-card">

                    <div id="circle">
                        <img src="assets\img\check-mark-3-48.png">
                    </div>

                    <div class="subcontainer-right">
                        <h1>{{ done.length ? done.length : 0}}</h1>
                        <p>Done</p>
                    </div>

                </mat-card>

            </div>

        </div>

        <div class="welcome-name">

            <h1>👋 Welcome to Join,</h1>
            <h1 style="color: #29abe2">{{ authService.getCurrentUser().username }}</h1>

        </div>

    </div>

</div>