<main>
    <nav>
        <img src="assets/logo.svg" alt="">
        <div>
            <p>Not a Join user ?</p>
            <button>Sign Up</button>
        </div>
    </nav>    

    <div class="form-div">
        <form action="">
            <h1>Login</h1>
            <hr>
            <div class="input-fields-div">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Password">
            </div>
            <div class="buttons-div">
                <button class="login-btn" type="submit">Log in</button>
                <button class="guest-login-btn" type="submit">Guest Log in</button>
            </div>
            
        </form>
    </div>
</main>


