main{
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0px 60px;
        height: 5vh;

        div{
            display: flex;
            align-items: center;
           
        }

        img{
            width: 80px;
            height: 80px;
        }
    }

    .form-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 90vh;

        form{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            width: 60%;
            height: 50vh;
            border-radius: 30px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

            h1{
                font-size: 48px;
            }

            hr{
                border-bottom: solid 1px #29ABE2;
                width: 20%;
                margin: 0;
                margin-top: -40px;
            }

            .input-fields-div{
                display: flex;
                flex-direction: column;
                width: 60%;

                input{
                    width: 100%;
                    margin: 10px 0px;
                    padding: 10px 10px;
                    border-radius: 7.5px;
                    border: solid 0.5px rgba(0, 0, 0, 0.369);
                }
            }

            .buttons-div{
                button{
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    width: 100px;
                    margin: 0px 10px;
                    cursor: pointer;
                }

                .guest-login-btn{
                    border: solid 0.5px #2A3647;
                    background: none;
                }

                .login-btn{
                    background-color: #2A3647;
                    color: white;
                }
            }
        }
    }
}