.main-container {
    display: flex;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #2A3647;
    height: 100vh;
    width: 15%;
    
    a{
        color: white;
        text-decoration: none;
    }

    .logo{
        width: 100px;
        
    }

    .anchor-tags-main-div{
        margin-bottom: 300px;
        width: 100%;

        div{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 20px 0px;
            cursor: pointer;
            
            &:hover{
                background-color: #091931;
            }

            img{
                margin-right: 10px;
                margin-left: 30%;
            }
        }
    }

    .legal-notice-div{
        display: flex;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 20px 0px;
        cursor: pointer;
            
        &:hover{
            background-color: #091931;
        }

        img{
            margin-right: 10px;
            margin-left: 30%;
        }
    }
}

.active{
    background-color: #091931 !important;
    cursor: not-allowed !important;
}
