mat-drawer-container {
    height: 100vh;
}

mat-drawer {
    min-width: 15%;
}

mat-toolbar {
    background-color: rgba(0, 0, 0, .15);
    justify-content: space-between;
    padding: 0 30px;

    button {
        transition: 225ms ease-in-out;

        &:hover {
            color: white;
            background-color: #29ABE2;
        }
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2A3647;
    height: 100%;
    font-size: 13px;

    a {
        color: white;
        text-decoration: none;
    }

    span {
        color: white;
    }

    .logo {
        margin-left: 25%;
        padding-block: 30px
    }

    .anchor-tags-main-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        div {
            display: flex;
            align-items: center;
            padding: 20px 0px;

            &:hover {
                cursor: pointer;
                background-color: #091931;
            }

            img {
                margin-left: 25%;
                margin-right: 10px;
                width: 25px;
                height: 25px;
            }
        }
    }

    .legal-notice-div {
        display: flex;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 20px 0px;
        cursor: pointer;

        &:hover {
            background-color: #091931;
        }

        img {
            margin-left: 25%;
            margin-right: 10px;
            width: 25px;
            height: 25px;
        }
    }
}

.p-30 {
    padding: 30px;
}

.active {
    background-color: #091931;
}