<div class="main-container">

    <nav *ngIf="checkNotLoginOrSignup()">

        <img class="logo" src="assets/logo-dunkel.svg" alt="">

        <div class="anchor-tags-main-div">

            <div routerLink="/summary" routerLinkActive="active">
                <img src="assets/summary-logo.svg" alt="">
                <span>Summary</span>
            </div>

            <div routerLink="/board" routerLinkActive="active">
                <img src="assets/board-logo.svg" alt="">
                <span>Board</span>
            </div>

            <div routerLink="/add-task" routerLinkActive="active">
                <img src="assets/add-task-logo.svg" alt="">
                <span>Add Task</span>
            </div>

            <div routerLink="/contacts" routerLinkActive="active">
                <img src="assets/contacts-logo.svg" alt="">
                <span>Contacts</span>
            </div>

        </div>

        <div class="legal-notice-div" routerLink="/LegalNotice" routerLinkActive="active">
            <img src="assets/legal-notice-logo.svg" alt="">
            <a routerLink="LegalNotice">Legal Notice</a>
        </div>

    </nav>

    <div class="router-outlet-container">

        <router-outlet></router-outlet>

    </div>

</div>
