<main>

    <nav>

        <img src="assets/logo-hell.svg">

        <div>
            <p>Already a Join user?</p>
            <button class="back-to-login-btn" routerLink="/login">Back to login</button>
        </div>

    </nav>

    <div class="form-div">

        <form [formGroup]="signupForm" (ngSubmit)="submit()">

            <h1>Sign up</h1>

            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="username?.errors?.['required']">Username is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password">
                <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm password is required</mat-error>
            </mat-form-field>

            <mat-error *ngIf="!checkPasswordsMatch()">Password must be the same in both the "Password" and "Confirm
                password" fields.</mat-error>

            <div class="buttons-div">
                <button class="signup-btn" type="submit" [disabled]="!signupForm.valid || !checkPasswordsMatch()"
                    [class.disabled-btn]="!signupForm.valid || !checkPasswordsMatch()">
                    Sign up
                </button>
            </div>

        </form>

    </div>

</main>