.legal-notice-content {
    display: flex;
    flex-direction: column;

    mat-card {
        margin-top: 20px;
    }

    h3 {
        color: #29abe2;
        text-decoration: underline;
    }
}

.mat-drawer-content {
    position: unset !important;
}

@media (max-width: 600px) {
    mat-drawer-content {
        margin-left: unset;
        position: unset;
    }

    .legal-notice-content {
        position: fixed;
        height: 85%;
        left: 3%;
        top: 8%;
        // bottom: 87px;
        width: 95%;
        overflow-y: scroll;
    }
}