<div class="legal-notice-content">
    <h2>Legal notice</h2>
    <mat-card>
        <h3>Imprint</h3>
        <span>
            Gruppenarbeit-Backend-315 <br>
            Backend-Alee 11 <br>
            25108 Backend City

        </span>
    </mat-card>

    <mat-card>
        <h3>Contact</h3>
        <span>
            Telefon: 0123 224433 <br>
            E-Mail: backend@gmail.com
        </span>

    </mat-card>

    <mat-card>
        <h3>Responsible for content</h3>
        <span>
            Alex Todor <br>
            Vincent Botella <br>
            Florian Schröder
        </span>
    </mat-card>

    <mat-card>
        <h3>Disclaimer</h3>
        <span>
            We have carefully checked all texts and links and update them continuously. We endeavor to provide correct
            and complete information on this website, but accept no responsibility, guarantee or liability that the
            information provided through this website, including any database entries, is correct, complete or current.

            We reserve the right to change the information on this website at any time and without prior notice and we
            do not undertake to update the information contained. All links to external providers were checked for
            accuracy at the time they were included. Nevertheless, we are not liable for the content and availability of
            websites that can be reached via hyperlinks.

            The provider of the page to which reference is made is solely liable for illegal, incorrect or incomplete
            content and in particular for damage caused by the unchecked use of content on linked pages. It does not
            matter whether the damage is of a direct, indirect or financial nature or whether there is any other damage
            that could result from data loss, loss of use or other reasons of any kind.
        </span>
    </mat-card>


</div>