<main>

    <div class="section-header">

        <div>
            <h1>Board</h1>
            <h2>Here you can see all the current tasks*.</h2>
        </div>

        <form [formGroup]="searchForm">

            <mat-form-field appearance="fill">
                <mat-label>Search for a task</mat-label>
                <input matInput formControlName="taskSearch">
                <button mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>

        </form>

    </div>

    <ng-container *ngIf="tasksLoaded; else loading">

        <div class="list-container-group" cdkDropListGroup>

            <div class="list-container">

                <h2>To Do</h2>

                <div cdkDropList [cdkDropListData]="toDo" class="list-1" (cdkDropListDropped)="drop($event)"
                    [class.empty]="!toDo.length">

                    <span class="currently-empty-span" *ngIf="!toDo.length">currently empty</span>

                    <p class="box-1" *ngFor="let item of toDo; index as i"
                        [class.recently-created]="recentlyCreatedTask(item)" cdkDrag>

                        <span class="task-title-container">
                            <span [class.searched]="includedInFilteredTasks(item)">{{ item.title }}</span>
                            <div class="priority-icon-container" [ngSwitch]="item.priority">
                                <img *ngSwitchCase="'Low'" src="assets\img\arrow-up.png">
                                <img *ngSwitchCase="'Medium'" src="assets\img\double-arrow.png">
                                <img *ngSwitchCase="'Urgent'" src="assets\img\triple-arrows.png">
                            </div>
                        </span>

                        <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn" matTooltip="Click to open menu"
                            [matTooltipPosition]="'before'">
                            more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="item-btn info" (click)="seeTaskDetails(item)">
                                <mat-icon>info</mat-icon>
                                See details
                            </button>
                            <button mat-menu-item class="item-btn edit" (click)="editTask(item)">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item class="item-btn delete" (click)="deleteTask(item)">
                                <mat-icon color="warning">delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>

                    </p>

                </div>

            </div>

            <div class="list-container">

                <h2>In Progress</h2>

                <div cdkDropList [cdkDropListData]="inProgress" class="list-2" (cdkDropListDropped)="drop($event)"
                    [class.empty]="!inProgress.length">

                    <span class="currently-empty-span" *ngIf="!inProgress.length">currently empty</span>

                    <p class="box-2" *ngFor="let item of inProgress; index as i"
                        [class.recently-created]="recentlyCreatedTask(item)" cdkDrag>

                        <span class="task-title-container">
                            <span [class.searched]="includedInFilteredTasks(item)">{{ item.title }}</span>
                            <div class="priority-icon-container" [ngSwitch]="item.priority">
                                <img *ngSwitchCase="'Low'" src="assets\img\arrow-up.png">
                                <img *ngSwitchCase="'Medium'" src="assets\img\double-arrow.png">
                                <img *ngSwitchCase="'Urgent'" src="assets\img\triple-arrows.png">
                            </div>
                        </span>

                        <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn" matTooltip="Click to open menu"
                            [matTooltipPosition]="'before'">
                            more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="item-btn info" (click)="seeTaskDetails(item)">
                                <mat-icon>info</mat-icon>
                                See details
                            </button>
                            <button mat-menu-item class="item-btn edit" (click)="editTask(item)">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item class="item-btn delete" (click)="deleteTask(item)">
                                <mat-icon color="warning">delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>

                    </p>

                </div>

            </div>

            <div class="list-container">

                <h2>Awaiting Feedback</h2>

                <div cdkDropList [cdkDropListData]="awaitingFeedback" class="list-3" (cdkDropListDropped)="drop($event)"
                    [class.empty]="!awaitingFeedback.length">

                    <span class="currently-empty-span" *ngIf="!awaitingFeedback.length">currently empty</span>

                    <p class="box-3" *ngFor="let item of awaitingFeedback; index as i"
                        [class.recently-created]="recentlyCreatedTask(item)" cdkDrag>

                        <span class="task-title-container">
                            <span [class.searched]="includedInFilteredTasks(item)">{{ item.title }}</span>
                            <div class="priority-icon-container" [ngSwitch]="item.priority">
                                <img *ngSwitchCase="'Low'" src="assets\img\arrow-up.png">
                                <img *ngSwitchCase="'Medium'" src="assets\img\double-arrow.png">
                                <img *ngSwitchCase="'Urgent'" src="assets\img\triple-arrows.png">
                            </div>
                        </span>

                        <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn" matTooltip="Click to open menu"
                            [matTooltipPosition]="'before'">
                            more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="item-btn info" (click)="seeTaskDetails(item)">
                                <mat-icon>info</mat-icon>
                                See details
                            </button>
                            <button mat-menu-item class="item-btn edit" (click)="editTask(item)">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item class="item-btn delete" (click)="deleteTask(item)">
                                <mat-icon color="warning">delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>

                    </p>

                </div>

            </div>

            <div class="list-container-last">

                <h2>Done</h2>

                <div cdkDropList [cdkDropListData]="done" class="list-4" (cdkDropListDropped)="drop($event)"
                    [class.empty]="!done.length">

                    <span class="currently-empty-span" *ngIf="!done.length">currently empty</span>

                    <p class="box-4" *ngFor="let item of done; index as i"
                        [class.recently-created]="recentlyCreatedTask(item)" cdkDrag>

                        <span class="task-title-container">
                            <span [class.searched]="includedInFilteredTasks(item)">{{ item.title }}</span>
                            <div class="priority-icon-container" [ngSwitch]="item.priority">
                                <img *ngSwitchCase="'Low'" src="assets\img\arrow-up.png">
                                <img *ngSwitchCase="'Medium'" src="assets\img\double-arrow.png">
                                <img *ngSwitchCase="'Urgent'" src="assets\img\triple-arrows.png">
                            </div>
                        </span>

                        <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn" matTooltip="Click to open menu"
                            [matTooltipPosition]="'before'">
                            more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="item-btn info" (click)="seeTaskDetails(item)">
                                <mat-icon>info</mat-icon>
                                See details
                            </button>
                            <button mat-menu-item class="item-btn edit" (click)="editTask(item)">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item class="item-btn delete" (click)="deleteTask(item)">
                                <mat-icon color="warning">delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>

                    </p>

                </div>

            </div>

        </div>

    </ng-container>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title>*Important information about the tasks.</mat-panel-title>
        </mat-expansion-panel-header>

        <p>By changing a task from one list to another you will be changing the state of the task, which will remain
            saved if you go to another section of the app or if you refresh/close the page. However, within each list
            the tasks will be automatically
            sorted according to their id whenever you change the view or refresh/close the page. This is so that the
            tasks in each list are sorted by creation date, with the oldest at the top and the most recent at the
            bottom.</p>

    </mat-expansion-panel>

    <ng-template #loading>

        <div class="spinner-container">

            <mat-spinner></mat-spinner>

        </div>

    </ng-template>

</main>